* {
  padding: 0;
  margin: 0;
  font-size: 100px;
}
body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  height: 400px;
  width: 250px;
  margin: 10px;
  padding: 15px;
}

.valor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paloTop {
  display: flex;
  justify-content: start;
}

.paloBottom {
  display: flex;
  justify-content: end;
  margin-top: 45px;
}

button {
  color: antiquewhite;
  background: rgb(110, 19, 19);
  font-size: 30px;
  text-align: center;
  height: 60px;
  width: 250px;
  font-family: Verdana, sans-serif;
  border-radius: 10px;
  user-select: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background: rgb(68, 11, 11);
}
