body {
  background-color: green;
  display: flex;
  justify-content: center;
}

.card {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  height: 400px;
  width: 250px;
  margin: auto;
  padding: 15px;
  position: relative;
}

.numero {
  position: absolute;
  padding-left: 100px;
  margin-top: 125px;
  font-size: 100px;
}

.paloTop {
  position: absolute;
  font-size: 80px;
  top: 0px;
  left: 20px;
}
.paloBottom {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 80px;
}
